/* stop logo overrun (no longer needed with header)

.remark-slide-content > h3:first-of-type {
    padding-right: 75px;
}
.remark-slide-content > h2:first-of-type {
    padding-right: 75px;
}
.remark-slide-content > h1:first-of-type {
    padding-right: 75px;
}

.remark-slide-content > h1:first-of-type {
    padding-right: 20px;
}

*/

@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

/* Add padding to accommodate header */

.remark-slide-content {
  padding-top: 70px;
}

.small {
  font-size: 80%;
}
.big {
  font-size: 120%;
}


.shadow {
  color: #F8F8F8;
  text-shadow: 2.5px 2.5px #131E29;
}


.full-width {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}

.pull-left-big {
  width: 65%;
  float: left;
}

.pull-right-small {
  width: 30%;
  float: right;
}

.pull-left-verybig {
  width: 80%;
  float: left;
}

.pull-right-verysmall {
  width: 15%;
  float: right;
}


.pull-left-small {
  width: 30%;
  float: left;
}

.pull-right-big {
  width: 65%;
  float: right;
}


.pull-left-verysmall {
  width: 15%;
  float: left;
}

.pull-right-verybig {
  width: 80%;
  float: right;
}


.hljs-default .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.1em;
    color: #131E29;
    background: #131E2915;
    background-color: #131E2915
}

.hljs-github .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.1em;
  color: #131E29;
  background: #131E2915;
}

.remark-code {
  display: block;
  overflow-x: auto;
  padding: 0.1em;
  color: #131E29;
  background: #f8f8f8;
}

pre:not([class]) {
    background-color: #f8f8f8;
}


pre {
    display: block;
    padding: 5.5px;
    margin: 0 0 6px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.panel {
  background: #f8f8f8;
}

/* Custom class for absolute two-column layouts  */

.middle-left {
  position: absolute;
  width: 42%;
  left: 5.275%;
  margin-right: 52.675%;
  top: 50%;
  transform: translate(0%, -50%);
}

.middle-right {
  position: absolute;
  width: 42%;
  left: 52.675%;
  margin-right: 5.275%;
  top: 50%;
  transform: translate(0%, -50%);
}

.middle-left-big {
  position: absolute;
  width: 58%;
  left: 5.275%;
  margin-right: 34.675%;
  top: 50%;
  transform: translate(0%, -50%);
}

.middle-right-small {
  position: absolute;
  width: 26%;
  left: 68%;
  margin-right: 5.275%;
  top: 50%;
  transform: translate(0%, -50%);
}

.middle-right-big {
  position: absolute;
  width: 58%;
  left: 36.6%;
  margin-right: 5.275%;
  top: 50%;
  transform: translate(0%, -50%);
}

.middle-left-small {
  position: absolute;
  width: 26%;
  left: 5.275%;
  margin-right: 5.275%;
  top: 50%;
  transform: translate(0%, -50%);
}

.panel {
  background: #f8f8f8;
}


.inverse2 {
  background-color: #FC9C19;
  color: #006353;
}

.inverse2 h1, .inverse2 h2, .inverse2 h3 {
  color: #006353;
}
.inverse2 a, .inverse2 a > code {
  color: #f8f8f8;
}

.circle-mask {
    object-fit: cover;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
}

